@{
    ViewData["Title"] = "Home Page";
}


@* 
<div class="text-center">
    <h1 class="display-4 callout-title">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>  *@


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
@* <div class="text-center "> *@
<div class="center-text">
    <h1 class="animate__animated animate__fadeInDown">Welcome to Our Web App!</h1>
</div>
<div class="text-center">
    <p class="animate__animated animate__fadeInUp animate__delay-1s">
        Build amazing apps with <a href="https://learn.microsoft.com/aspnet/core" target="_blank" rel="noopener">ASP.NET Core</a>.
    </p>
</div>