
<h1>Album Catalog</h1>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><h4 class="card-title">Album Title</h4></div>
  <div class="card-body">
    @*<h4 class="card-title">Primary card title</h4>*@
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <img src="https://fakeimg.pl/300x200" class="img-fluid" alt="Album Cover Image">
  
  </div>
</div> 

